
#container{
    width: 100%;
    padding-bottom: 20px;
}
#content{
    background-color: rgba(158, 240, 192, 0.678);
    width: 40%;
    float: left;
    padding-bottom: 20px;
}
#hidden,#hidden2,#hidden3{
    background-color: rgba(158, 240, 192, 0.678);
    width: 40%;
    font-style: oblique;
    padding: 20px 20px 20px 20px;
    display: none;
}
#dailymilk,#projection,#yearrevenue{
    align-items: center;
    margin-left: 40%;
    display: block;
}
#content p,table,h3{
    margin: 10px 20px 10px 20px;
}
#aboutimage{
    float: right;
    width: 40%;
}
#container img{
    border: 3px solid #ccc;
    background: #eee;
    margin-left: 10px;
    padding: 15px 10px;
}
table{
    border: 2px solid rgba(8, 158, 71, 0.678);
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
#map{
    float: right;
    width: 40%;
}
#header{
    display: flex;
    flex-direction: row;
    height: 150px;
}
#icon{
    float: left;
}
#menu{
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 10px;
 }
 #menu ul{
    text-align: right;
}
 #menu ul li{
     display: inline-block;
     margin: 20px;
     text-transform: uppercase;
 }
 #menu>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    color: black;
    text-decoration: none;
}
#menu>ul>li>a:hover {
    background: rgba(8, 158, 71, 0.678);
    color: black;
    }
    #banner{
        background-image: url('assets/images/dairyshed.jpg');
        opacity: 0.9;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        text-align: center;
    }
    #name{
        padding-top: 80px;
    }
    h1{
        font-size: 4em;
    }
    #banner span{
        font-size: 2em;
    }
    #launcher{
        padding-top: 300px;
    }
    #launcher a{
        background-color:white;
        border:solid 4px rgba(8, 158, 71, 0.678);
        color: black;
        padding: 20px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 4px;
        cursor: pointer;
        border-radius: 8px;
    }
    #launcher a:hover{
        background-color: rgba(8, 158, 71, 0.678);
    }
     #footer{
        background-color: rgba(8, 158, 71, 0.678);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
        text-align: center;
        align-items: center;
        color: white;
        width: 100%;
   }
   #menulink{
     font-size: 3em;
     color: white;
   }
   #slogan{
     color: white;
     font-size: 24px;
   }
   #social ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    list-style: none;
   }
   #social ul li{
    overflow: auto;
    list-style: none;
    margin: 0px 30px 0px 0px;
   }
   input[type=text]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=button] {
    width: 13%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #77ee7d;
  }
  @media only screen and (max-width: 1277px) {
    #header{
        display: flex;
        flex-direction: column;
        height: 450px;
        background-color: rgba(8, 158, 71, 0.678);
    }
    #icon{
        width: 100%;
        background-color: white;
    }
    #menu{
        width: 100%;
        margin: 0 auto;
        padding: 10px 10px;
        margin-right: 10px;
     }
     #menu ul{
        text-align: center;
    }
     #menu ul li{
         display: block;
         margin: 20px;
         text-transform: uppercase;
     }
     #menu>ul>li>a {
        padding: 18px;
        margin-right: 0;
        text-transform: uppercase;
        display: block;
        color: black;
        text-decoration: none;
    }
    #menu>ul>li>a:hover {
        background: rgba(8, 158, 71, 0.678);
        color: black;
        }
  }