#header{
    display: flex;
    flex-direction: row;
    height: 150px;
}
#icon{
    float: left;
}
#menu{
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 10px;
 }
 #menu ul{
    text-align: right;
}
 #menu ul li{
     display: inline-block;
     margin: 20px;
     text-transform: uppercase;
 }
 #menu>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    color: black;
    text-decoration: none;
}
#menu>ul>li>a:hover {
    background: rgba(8, 158, 71, 0.678);
    color: black;
    }
    #banner{
        background-image: url('assets/images/dairyshed.jpg');
        opacity: 0.9;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        text-align: center;
    }
    #name{
        padding-top: 80px;
    }
    h1{
        font-size: 4em;
    }
    #banner span{
        font-size: 2em;
    }
    #launcher{
        background-color: white;
        border:solid 2px red;
        color: red;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 4px;
        cursor: pointer;
        border-radius: 8px;
    }